{% extends "base.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/education.css' %}">
{% endblock %}

{% block body %} 
<h2>"이민수"님 <span class="acropolis">아크로폴리스 교육</span>에 오신 것을 환영합니다.</h2>
        
<div class="list_wrap">
  <ul>
      <li class="item item1">
        <img src="{% static 'images/2.jpg' %}" width="230" height="230">
          <div class="cont">
              <p style="margin-left: 15px;">'GameStop'에게 무슨일이!?</p>
              <a href="#">바로가기</a>
          </div>
      </li>
      <li class="item item2">
        <img src="{% static 'images/11.jpg' %}" width="230" height="230">
          <div class="cont">
              <p style="margin-left: 15px;">6월 4주차 시사상식[독취사]</p>
              <a href="{% url 'edu_detail' %}">바로가기</a>
          </div>
      </li>
      <li class="item item3">
        <img src="{% static 'images/3.jpg' %}" width="230" height="230">
          <div class="cont">
              <p style="margin-left: 5px;">'은행 빚 탕강범'? 은행의 미래는?</p>
              <a href="#">바로가기</a>
          </div>
      </li>
      <li class="item item4">
        <img src="{% static 'images/4.jpg' %}" width="230" height="230">
          <div class="cont">
              <p style="margin-left: 15px;">신규 돌고래 사육 허가 중단</p>
              <a href="#">바로가기</a>
          </div>
      </li>
      <li class="item item5">
        <img src="{% static 'images/5.jpg' %}" width="230" height="230">
          <div class="cont">
              <p style="font-size: 14px; margin-left:3%">오래된 책에서 초콜릿 냄새가 난다?</p>
              <a href="#">바로가기</a>
          </div>
      </li>
      <li class="item item6">
        <img src="{% static 'images/6.jpg' %}" width="230" height="230">
          <div class="cont">
            <p style="margin-left: 35px;">클라우드 펀딩이란?</p>
              <a href="#">바로가기</a>
          </div>
      </li>
      <li class="item item7">
        <img src="{% static 'images/7.jpg' %}" width="230" height="230">
          <div class="cont">
            <p style="margin-left: 50px;">주간 시사상식</p>
              <a href="#">바로가기</a>
          </div>
      </li>
      <li class="item item8">
        <img src="{% static 'images/8.jpg' %}" width="230" height="230">
          <div class="cont">
            <p style="margin-left: 50px;">하루상식 책추천</p>
              <a href="#">바로가기</a>
          </div>
      </li>
      <li class="item item9">
        <img src="{% static 'images/9.jpg' %}" width="230" height="230">
          <div class="cont">
            <p style="font-size:13px;">국회의원의 연임 횟수 제한해야 하는가?</p>
              <a href="#">바로가기</a>
          </div>
      </li>

  </ul>
</div>
</div>
{% endblock %}