@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Text';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}   

h2 {
    text-align: center;
    font-family: 'paybooc-Bold';
    margin-top: 40px;
}
h2 > .acropolis {
    color: #8C6751;
}
nav {
    font-family: 'IBMPlexSansKR-Text';
    width: 100%; height: 70px;
    display: flex;  
    margin: 30px 0px;
    align-items: center;
    justify-content: center;
}
.categoryChooseBox {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 1500px; height: 100px;
}
.categoryChooseBox > div{
    display:inline-block;
}

.categoryChoose {
    width: 110px; height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #8C6751;
    margin: 0px 3px;
    border-radius: 30px;
}
.categoryChoose:hover {
    background-color: #F0CBB0;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_list_wrap {
    font-family: 'IBMPlexSansKR-Text';
    margin-top: 15px;
    padding-left: 150px;
    padding-right: 150px;
}

.board_list_head, .board_list_body .item {
    padding: 10px 0;
    font-size: 0;
}

.board_list_head {
    border-top: 5px solid #F0CBB0;
    border-bottom: 5px solid #F0CBB0;
}

.board_list_body .item {
    border-bottom: 2px solid #8C6751;
}

.board_list_head > div,
.board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.board_list_head > div {
    font-weight: 600;
}

.board_list .category {
    width: 10%;
}

.board_list .tit {
    width: 55%;
}

.board_list_body div.tit {
    text-align: center;
}

.board_list_body div.tit a:hover {
    text-decoration: underline;
}

.board_list .devate {
    width: 10%;
}

.board_list .date {
    width: 15%;
}

.board_list .view {
    width: 10%;
}

/* paging */
.paging {
    margin-top: 30px;
    text-align: center;
}

.paging a {
    display: inline-block;
    vertical-align: middle;
}

.paging a.bt {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    background-image: url(../img/page_bt.png);
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;
}

.paging a.bt:hover {
    background-color: #999;
}

.paging a.first {
    background-position: 10px -40px;
}

.paging a.prev {
    margin-right: 5px;
    background-position: 10px 10px;
}

.paging a.next {
    margin-left: 5px;
    background-position: -40px 10px;
}

.paging a.last {
    background-position: -40px -40px;
}

.paging a.num {
    margin: 0 5px;
}



.paging a.num:hover {
    text-decoration: underline;
}

.board_list_wrap .paging {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}
.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}
.board_list_wrap .paging a:first-child {
    margin-left: 0;
}

.board_list_wrap .paging a.bt {
    border: 1px solid #eee;
    background: #eee;
}

.board_list_wrap .paging a.num {
    border: 1px solid #8C6751;
    font-weight: 600;
    color: #8C6751;
}

.board_list_wrap .paging a.num.on {
    background: #F0CBB0;
    color: #fff;
}

.highlight {
    color: red;
    font-size: 1.25em;
}