{% extends "base.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock %}
{% block body %} 
    <div class="content-wrap">
        <article>
            <div>
                <h2>"이민수"님 <span class="acropolis">아크로폴리스 토론장</span>에 오신 것을 환영합니다.</h2>
            </div>
            <nav>
                <div class="categoryChooseBox" style="flex-wrap: wrap;">
                    <div class="categoryChoose"><strong>최신 시사</strong></div>
                    <div class="categoryChoose"><strong>정치 • 행정</strong></div>
                    <div class="categoryChoose"><strong>경제 • 산업</strong></div>
                    <div class="categoryChoose"><strong>사회 • 환경</strong></div>
                    <div class="categoryChoose"><strong>국제 • 외교</strong></div>
                    <div class="categoryChoose"><strong>북한 • 안보</strong></div>
                    <div style="width: 1000px; height: auto; display: flex; justify-content: center; align-items: center;">
                    <div class="categoryChoose"><strong>문화 • 미디어</strong></div>
                    <div class="categoryChoose" onClick="location.href='./quiz_nonjQ_2.html'"><strong>과학•IT</strong></div>
                    <div class="categoryChoose"><strong>스포츠 • 엔터</strong></div>
                    <div class="categoryChoose"><strong>인물 • 용어</strong></div>
                    </div>
                </div>
            </nav>
            <div class="board_wrap">
                <div class="board_title">
                    <strong>토론장</strong>
                    <p>각 카테고리에서 인기있는 주제를 만나보세요!</p>
                </div>
                <div class="board_list_wrap">
                    <div class="board_list">
                        <div class="top">
                            <div class="num">카테고리</div>
                            <div class="title">토론 주제</div>
                            <div class="writer">찬성 --- 반대</div>
                            <div class="date">작성일</div>
                            <div class="count">조회</div>
                        </div>
                        <div>
                            <div class="num"><strong>[최신 시사]</strong></div>
                            <div class="title"><a href="{% url 'view' %}"><strong><span class="highlight">[HOT]</span> [靑, 청년비서관 박성민 임명] - 박성민, 靑 청년비서관으로 적합한가?</strong></a></div>
                            <div class="writer">32% --- <span class="highlight"><strong>68% </strong></span></div>
                            <div class="date">06/25</div>
                            <div class="count">987</div>
                        </div>
                        <div>
                            <div class="num"><strong>[정치 • 행정]</strong></div>
                            <div class="title"><a href="{% url 'view' %}"><strong><span class="highlight">[HOT]</span> [국힘, 당대표 이준석 당선] - 이준석 대표가 정권 교체를 이룰 수 있나?</strong></a></div>
                            <div class="writer"><span class="highlight"><strong>59% </strong></span> --- 41%</div>
                            <div class="date">06/21</div>
                            <div class="count">897</div>
                        </div>
                        <div>
                            <div class="num"><strong>[경제 • 산업]</strong></div>
                            <div class="title"><a href="{% url 'view' %}"><strong><span class="highlight">[HOT]</span> [정부, 가상화폐 과세 검토] - 가상화폐에 대한 과세해야 하나?</strong></a></div>
                            <div class="writer"><span class="highlight"><strong>63% </strong></span> --- 37%</div>
                            <div class="date">06/23</div>
                            <div class="count">486</div>
                        </div>
                        <div>
                            <div class="num"><strong>[사회 • 환경]</strong></div>
                            <div class="title"><a href="{% url 'view' %}"><strong>[중대재해처벌법] - 5인 미만 적용 제외 규정을 삭제해야 하나?</strong></a></div>
                            <div class="writer"><span class="highlight"><strong>78% </strong></span> --- 22%</div>
                            <div class="date">06/24</div>
                            <div class="count">243</div>
                        </div>
                        <div>
                            <div class="num"><strong>[국제 • 외교]</strong></div>
                            <div class="title"><a href="{% url 'view' %}"><strong>[中, 디지털 화폐] - 디지털 화폐 도입, 韓 경제에 악영향 끼치나?</strong></a></div>
                            <div class="writer">30% --- <span class="highlight"><strong>70% </strong></span></div>
                            <div class="date">06/25</div>
                            <div class="count">123</div>
                        </div>
                    </div>
                    <div class="board_page">
                        <a href="#" class="bt first"><<</a>
                        <a href="#" class="bt prev"><</a>
                        <a href="#" class="num on">1</a>
                        <a href="{% url 'community2' %}" class="num">2</a>
                        <a href="#" class="num">3</a>
                        <a href="#" class="num">4</a>
                        <a href="#" class="num">5</a>
                        <a href="#" class="bt next">></a>
                        <a href="#" class="bt last">>></a>
                    </div>
                    <div class="bt_wrap">
                        <a href="{% url 'write' %}" class="on">등록</a>
                    </div>
                </div>
            </div>       
        </article>
    </div>
</div>
{% endblock %}